<a href="https://colab.research.google.com/github/wajidamusarat/Python_repository/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum=3+5

In [ ]:
sum

8

In [ ]:
#Keywords are predefined, reserved words used in Python programming that have special meanings to the compiler.

Identifiers are the name given to variables, classes, methods, etc.

In [ ]:
#VARIABLES

a variable is a container (storage area) to hold data. For example,

In [ ]:
site_name = 'programiz.pro'

print(site_name)

programiz.pro

In [ ]:
#CONSTANTS

A constant is a special type of variable whose value cannot be changed.

In [ ]:
value = None

print(value)

None

In [ ]:
some_character = 'S'
print(some_character)

S

In [ ]:
some_string = 'Python is fun'
print(some_string)

Python is fun

There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

Literals are representations of fixed values in a program. They can be numbers, characters, or strings, etc. For example, 'Hello, World!', 12, 23.0, 'C', etc.

Literals are often used to assign values to variables or constants. For example,

In [ ]:
fruits = ["apple", "mango", "orange"]
print(fruits)

# tuple literal
numbers = (1, 2, 3)
print(numbers)

# dictionary literal
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'}
print(alphabets)

# set literal
vowels = {'a', 'e', 'i' , 'o', 'u'}
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'i', 'u', 'o', 'e', 'a'}

Python dictionary is an ordered collection of items. It stores elements in key/value pairs.

Here, keys are unique identifiers that are associated with each value.

In [ ]:
capital_city = {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

print(capital_city)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
new = {'a', 'e', 'i' , 'o', 'u','e'}
print(new)

{'i', 'o', 'a', 'u', 'e'}

In [ ]:
hello = {'a', 'e', 'i' , 'o', 'u'}
print(hello)

{'i', 'o', 'a', 'u', 'e'}

In [ ]:
num = input('Enter your  name: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter your  name: wajida
You Entered: wajida
Data type of num: <class 'str'>

In [ ]:
a = int(input('Enter a value: '))
b = int(input('Enter b value: '))

# addition
print ('Sum: ', a + b)

print ('Multiplication: ', a * b)
print ('Division: ', a / b)
print ('Floor Division: ', a // b)
print ('Modulo: ', a % b)
print ('Power: ', a ** b)

Enter a value: 10
Enter b value: 4
Sum:  14
Multiplication:  40
Division:  2.5
Floor Division:  2
Modulo:  2
Power:  10000

In [ ]:
num_list=[3,27,45,-98]
max_value=num_list[0]
for i in num_list:
  if i>max_value:
    max_value=i
print(max_value)

45

In [ ]:
import random
print('Welcome to ROCK,PAPER,SCISSOR')

options=["rock","paper","scissor"]
#int(input('Enter the number of rounds you want to play:  '))
#pcount=0
#hcount=0
Player=input('enter your choice:')
computer=random.choice(options)
print('Player= ',Player)
print('computer=',computer)
if Player==options:
  if Player!=computer:
    if (Player == "rock" and computer=="scissor") or (Player == "scissor" and computer=="paper") or (Player == "paper" and computer=="rock"):
      print('Player win')
   # pcount+=1
    elif (Player == "rock" and computer=="paper") or (Player == "paper" and computer=="scissor") or (Player == "scissor" and computer=="rock"):
      print('Computer win')
   # hcount+=1
  else:
    print('its a tie')
else:
  print("Invalid input\nChoose from rock,paper,scissor")

Welcome to ROCK,PAPER,SCISSOR
enter your choice:helo
Player=  helo
computer= paper
 invalid input
Choose from rock,paper,scissor

In [ ]:
exampledict={"brand": "Ford",
"model": "Mustang",
"year": 1964}
print(exampledict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
exampledict["year"]

1964

In [ ]:
#e1={"scissor|paper":"scissor","rock|paper":"paper","rock|scissor":"rock"}

h|ai

In [ ]:
e2="hello"
x=0
for i in e2:
  x=x+1
  print(e2[0:x])

h
he
hel
hell
hello

In [ ]:
print("hello")

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
print("hello it's Wednesday today")

hello it's Wednesday today

In [ ]:
h1="hello"
print(h1[0:2])

he

In [ ]:
e3="hello"
x=0
for i in e3:
  x=x+1
  print(e3[0:x])
for i in e3:
  x=x-1
  print(e3[0:x])

h
he
hel
hell
hello
hell
hel
he
h

In [ ]:
l1=[1,2,3,4,3]
l2=[2,3,5,6,3]
for c in l2:
  if c in l1:
    print(c)

2
3
3

In [ ]:
c=[x for x in b if x in a]
c

[1, 2, 3, 5, 8, 13]

In [ ]:
print(c)

[1, 2, 3, 5, 8, 13]

In [ ]:
for x in c:
  for y in c[0:]:
    if x==y:
      print(y)

1
2
3
5
8
13

In [ ]:
p = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
q = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c1=[x for x in q if x in a]
c1

[1, 2, 3, 5, 8, 13]

In [ ]:
print(c12)

[1, 1, 3, 2, 3, 5, 8, 13]

In [ ]:
e4="****"
x=0
for i in e4:
  x=x+1
  print(e4[0:x])

*
**
***
****

e4 is star\
x=0\
using for loop \
for variable(i) in e4\
after entering the for loop we will increment the x value\
we will print e4 from 0 to the value x is having.

In [ ]:
ab=[1,2,3,4,5,5]
cd=[2,3,5,6,4,4]
for x in cd:
  if x in ab:
    print(x)

2
3
5
4
4

In [ ]:
rows=5
for i in range(rows):
  for j in range(i):
        print("*",end=' ')
  print(" ")

*
* *
* * *
* * * *

In [ ]:
Create_List=[]
print(Create_List)
Create_List.append(23)
Create_List.append(45)
print("new list:",Create_List)

[]
new list: [23, 45]

In [ ]:
z = ['a', 'b', 'a', 'c', 'b', 'a', ]
[z[i] for i in range(len(z)) if i == z.index(z[i])]

['a', 'b', 'c']

In [ ]:
a_List=[1,2,3,4,5,2,3]
for x in range(len(a_List)):
  if x== a_List.index(a_List[x]):
    print(a_List[x])

1
2
3
4
5

In [ ]:
r=[1,2,3,4,5,9,9,2,2]
for x in range(len(r)):
  if x == r.index(r[x]):
    print(r.index(r[x]))

0
1
2
3
4
5

for x in range(len(r))\
here x will store the value from 0 as the  length of r starting from 0 \

In [ ]:
print(r.index(r[8]))

1

In [ ]:
print(r.index(4))

3

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c= a in b
print(c)

False

In [ ]:
[a[i] for i in range(len(a)) if i == a.index(a[i])]
[b[i] for i in range(len(b)) if i == b.index(b[i])]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
string = "the quick brown fox jumps over the lazy dog."
print(string)
stol=list(string)
stol[4]="t"
#print(stol)
string1 = ''.join(stol)
print(string1)

the quick brown fox jumps over the lazy dog.
the tuick brown fox jumps over the lazy dog.

In [ ]:
string2="the quick brown fox jumps over the lazy dog."
print(string2.title())

The Quick Brown Fox Jumps Over The Lazy Dog.

## capitalize

First alphabet becomes capital of every word if we use title method\
The title() method scans the string and identifies word boundaries based on whitespace characters.

In [ ]:
stringlist=string.split()
print(stringlist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog.']

## convert the given string into list

In [ ]:
print(len(stringlist))

9

In [ ]:
print(len(string))

44

In [ ]:
for x in stringlist:
  if len(x)%2!=0:
    print(x.capitalize())
  else:
    print(x)

The
Quick
Brown
Fox
Jumps
over
The
lazy
dog.

## checks the word is odd or even

In [ ]:
print(stol)

['t', 'h', 'e', ' ', 't', 'u', 'i', 'c', 'k', ' ', 'b', 'r', 'o', 'w', 'n', ' ', 'f', 'o', 'x', ' ', 'j', 'u', 'm', 'p', 's', ' ', 'o', 'v', 'e', 'r', ' ', 't', 'h', 'e', ' ', 'l', 'a', 'z', 'y', ' ', 'd', 'o', 'g', '.']

In [ ]:
print([stol[i] for i in range(len(stol)) if i == stol.index(stol[i])])

['t', 'h', 'e', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'x', ' ', 'j', 'm', 'p', 's', 'v', 'l', 'a', 'z', 'y', 'd', 'g']

In [ ]:
string.replace("e","w",2)

'thw quick brown fox jumps ovwr the lazy dog.'

replaceing the alphabet \

In [ ]:
str12="The quick brown fox jumps over the lazy dog"
new_string=[]
for i in str12.casefold():
  if i.isalpha()==True and i not in new_string:
    new_string.append(i)
print(new_string)

['t', 'h', 'e', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 's', 'v', 'l', 'a', 'z', 'y', 'd', 'g']

In [ ]:
new_string.sort()
print(new_string)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
str12.title()

'The Quick Brown Fox Jumps Over The Lazy Dog'

In [ ]:
even_list=[]
odd_list=[]
for x in stringlist:
  if len(x)%2!=0:
    odd_list.append((x.capitalize()))
  else:
    even_list.append(x)
print(even_list)
print(odd_list)

['over', 'lazy', 'dog.']
['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'The']

## list the words into even and odd

In [ ]:
its_a_example_str="THE QUICK BROWN fox jumps over the lazy dog"
its_a_example_str.title()

'The Quick Brown Fox Jumps Over The Lazy Dog'

In [ ]:
its_a_example_str.lower()

'the quick brown fox jumps over the lazy dog'

In [ ]:
name = "Ram"
age = 22
message = "My name is {0} and I am {1} years old. {1} is my favorite number."
print(message.format(name, age))

My name is Ram and I am 22 years old. 22 is my favorite number.

using format method

In [ ]:
txt = "I have {an:.15f} Rupees!"
print(txt.format(an = 4))

I have 4.000000000000000 Rupees!

This method of the built-in string class provides functionality for complex variable substitutions and value formatting. This new formatting technique is regarded as more elegant. The general syntax of format() method is string.format(var1, var2,…).

In [ ]:
string9="hello it's me"
string9.title()

"Hello It'S Me"

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [ ]:
import random
secret_number=random.randint(0,10)
count=0
while True:
  user_input=int(input("Enter a number: "))
  if secret_number==user_input:
    print("You guessed it correct")
    count+=1
    break
  elif secret_number<user_input:
      print("Its to big")
      count+=1
  else:
        print("Its to small")
        count+=1
#print(secret_number)
print("You iterated=",count)

Enter a number: 3
Its to small
Enter a number: 6
Its to small
Enter a number: 8
Its to small
Enter a number: 9
Its to small
Enter a number: 10
You guessed it correct
You iterated= 5

In [ ]:
print("Please enter a number between 0 to 9 to guess the number or press exit to leave the game")
import random
secret_number = random.randint(0,9)
count=0
while True:
  user_input = input()
  if user_input.lower() == 'exit':
     print("Thanks for playing the game!The secret number was ",secret_number)
     print(count)
     break
  elif user_input.isalpha():
    print("Invalid input")
  else:
     user_input = int(user_input)
     count=+1
     if user_input not in range(0,10):
        print("Invalid input!Please choose the number in the range 0 to 9")
     else:
      if user_input == secret_number:
        print("Well done!It's a correct number")
        print(count)
        break
      elif secret_number> user_input:
        print("My number is bigger than", user_input)
      else:
        print("My number is lesser than",user_input)

Please enter a number between 0 to 9 to guess the number or press exit to leave the game
4
My number is lesser than 4
6
My number is lesser than 6
8
My number is lesser than 8
2
My number is lesser than 2
1
My number is lesser than 1
0
Well done!It's a correct number
1

In [ ]:
Tuple1 = [0, 1, 2, 3]
Tuple2 = ['python', 'geek']
Tuple3 = [Tuple1, Tuple2]
print("\nTuple with nested tuples: ")
print(Tuple3)

Tuple with nested tuples:
[[0, 1, 2, 3], ['python', 'geek']]

In [ ]:
# Creating a Tuple
# with the use of loop
Tuple1 = ('Geeks')
n = 5
print("\nTuple with a loop")
#for i in range(int(n)):
    #Tuple1 = (Tuple1,)
print(Tuple1)

Tuple with a loop
Geeks

In [ ]:
# Creating a Tuple
# with the use of loop
Tuple1 = ('Geeks')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [ ]:
t1= 1,2,3,4
print("tuple packing is",t1)

tuple packing is (1, 2, 3, 4)

In [ ]:
t1.count(4)

1

In [ ]:
print(len(t1))

4

In [ ]:
print(any(Tuple1))

True

In [ ]:
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print ("Return type:", type(obj1))
print (list(enumerate(l1)))

# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [ ]:
print(enumerate(l1))

<enumerate object at 0x7ae37038f900>

In [ ]:
print(list(enumerate(l1)))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]

In [ ]:
l2=max(l1,key=len)
print(l2)

repeat

In [ ]:
l1=["Minaz","Rekha","prajyna","wajida" ]
l2=min(l1)
print(l2)

Minaz

In [ ]:
l3=[1,2,3,4,5]
sum(l3)

15

In [ ]:
sum(l3,5) #it sums all elements from sum and then adds it with 5

20

In [ ]:
l22=["minaz","wajida","rekha","prajyna"]
l22.sort()
print(l22)

['minaz', 'prajyna', 'rekha', 'wajida']

In [ ]:
print(sorted(l22,reverse=True))

['wajida', 'rekha', 'prajyna', 'minaz']

In [ ]:
l23=['q','w','e','a','r']
len(l23)

5

In [ ]:
l23.sort()
print(l23)

['a', 'e', 'q', 'r', 'w']

In [ ]:
print("wow,"+ input("who r u ")+",you rock")

who r u wajida
wow,wajida,you rock

In [ ]:
age: int = int(input ("how old are you?  "))
year : int = int(input("What year is it?  "))
age_in_2041 : int=2041- year + age
print ("In 2041,you will be " + str(age_in_2041))

how old are you?  24
What year is it?  2023
In 2041,you will be 42

In [ ]:
just_to_check : int =input("enter a number")
print(just_to_check)

enter a number2345
2345

In [ ]:
counter : int =0
maximum : int= int(input("Put the Count  "))
while counter < maximum < 7:
  counter_squared= counter ** 2
  print("the square of"+str(counter)+" is "+str(counter_squared))
  counter=counter+1

Put the Count  4
the square of0 is 0
the square of1 is 1
the square of2 is 4
the square of3 is 9

In [ ]:
True or True and not false

True

In [ ]:
i:int = int(input("Give a number less then 0:  "))
s:str = ""

while i>0:
  s=s+"h"
  h:int = 0
  while h<i:
    s = s + "e"
    h = h + 1
  i = i - 1
print(s)

Give a number less then 0:  4
heeeeheeeheehe

(from random import rand int) meaning random is a  package in python and randint will generate a random integer

In [ ]:
""" An oracle that predicts the future

As I see it, yes
Ask again later
Better not tell you now
Cannot predict now
Concentrate and ask again
Don’t count on it
It is certain
It is decidedly so
Most likely
My reply is no
My sources say no
Outlook good
Outlook not so good
Reply hazy try again
Signs point to yes
Very doubtful
Without a doubt
Yes
Yes, definitely
You may rely on it

 """
from random import randint
input("Ask yes /no question:  ")
response: int = randint(0,16)
if response == 0:
  print("As I see it, yes")
elif response == 1:
  print("Ask again later")
elif response == 2:
  print("Better not tell you now")
elif response == 3:
  print("Cannot predict now")
elif response == 4:
  print("Concentrate and ask again")
elif response == 5:
  print("Don’t count on it")
elif response == 6:
  print("It is decidedly so")
elif response == 7:
  print("Most likely")
elif response == 8:
  print("My reply is no")
elif response == 9:
  print("My sources say no")
elif response == 10:
  print("Good chance")
elif response == 11:
  print("Outlook not so good")
elif response == 12:
  print("Reply hazy try again")
elif response == 13:
  print("Without a doubt")
elif response == 14:
  print("You may rely on it")
elif response == 15:
  print("Signs point to yes")
else:
  print("nope")

Ask yes /no question:  will i score good marks
Cannot predict now

In [ ]:
low : int = 1
high : int = 100
print("Think of a number between 1 - 100.")
input("Press enter to continue ")
playing : bool = True

while playing and low <= high:
  guess : int =(high + low) // 2
  print(str(guess)+"?")
  result : str =input("Reply yes, higher,lower :")
  if result =="yes":
    print("Woo!")
    playing = False
  elif result == "higher":
    low =guess + 1
  else:
    high= guess -1

Think of a number between 1 - 100.
Press enter to continue
50?
Reply yes, higher,lower :lower
25?
Reply yes, higher,lower :lower
12?
Reply yes, higher,lower :higher
18?
Reply yes, higher,lower :lower
15?
Reply yes, higher,lower :higher
16?
Reply yes, higher,lower :higher
17?
Reply yes, higher,lower :yes
Woo!

In [ ]:
course: int= 110
print("I am currently in " + str(course) + " !") # converting int to string

I am currently in 110 !

In [ ]:
print(f" Iam currently in {course} !")

 Iam currently in 110 !

In [ ]:
age: int= 20
name : str = " sneha"
print(f"hey {name} u will be soon {age+1}") # implicitly int will get converted to string

hey  sneha u will be soon 21

In [ ]:
print("hello,world") # print is a function

hello,world

In [ ]:
final_score : int = round(45.34) # round is a function
print(final_score) # as of now this is a example for PROCESS ABSTRACTION we dont need to solve its alredy solved by someone

45

In [ ]:
x: int =3+5j
print(abs(x)) #what is the distance of a number from 0 in a number line

5.830951894845301

In [ ]:
from random import randint
rolled_dice : int =randint(1,6)
print(rolled_dice)

2

In [ ]:
def myMax(a:int,b:int)-> int : #signature line /"contact" result in sigle int value
  if a >= b:  # this is tje body block
    return a # once returned value is enough it won't go to next line
    #it will come out of the function

  return b

x: int = 6
y: int = 5+2
z: int = myMax(y,x)
print(z)

7

In [ ]:
def city(name:str)-> str:
  return f" I  Stay in {name}"

print(city("Dharwad"))

 I  Stay in Dharwad

In [ ]:
city("hubli")

' I  Stay in hubli'

In [ ]:
def spreadLove(to : str, n : int)-> str:
  """Generates a string that repeats a loving message n times"""
  note : str =""
  countstring :int = 0
  while countstring< n:
    note+=city(to) +"\n"
    countstring += 1
  return note

print(spreadLove("Dharwad",5))

 I  Stay in Dharwad
 I  Stay in Dharwad
 I  Stay in Dharwad
 I  Stay in Dharwad
 I  Stay in Dharwad

In [ ]:
city("hubli")

' I  Stay in hubli'

In [ ]:
def helloHi(a: int, b: int)->int:
 print("hello")

helloHi(2,3)

hello

In [ ]:
def myFun(*argv):
    for arg in argv:
        print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [ ]:
def f():
    s = "Me too."
    print(s)

# Global scope
s = "I love Geeksforgeeks"
f()
print(s)

Me too.
I love Geeksforgeeks

In [ ]:
# This function modifies the global variable 's'
def f():
    global s
    s += ' GFG'
    print(s)
    s = "Look for Geeksforgeeks Python Section"
    print(s)

# Global Scope
#s = "Python is great!"
f()
print(s)
s="its confusing"
print(s)

its confusing GFG
Look for Geeksforgeeks Python Section
Look for Geeksforgeeks Python Section
its confusing

In [ ]:
a = 1

# Uses global because there is no local 'a'
def f():
    print('Inside f() : ', a)

# Variable 'a' is redefined as a local
def g():
    a = 2
    print('Inside g() : ', a)

# Uses global keyword to modify global 'a'
def h():
    global a
    a = 3
    print('Inside h() : ', a)


# Global scope
print('global : ', a)
f()
print('global : ', a)
g()
print('global : ', a)
h()
print('global : ', a)
print( "now a = ", a)

global :  1
Inside f() :  1
global :  1
Inside g() :  2
global :  1
Inside h() :  3
global :  3
now a =  3

In [ ]:
from random import randint
rolls: list[int]=list()
rolls.append(2)
rolls.append(3)
rolls.append(4)
rolls.append(5)
print(rolls)

[2, 3, 4, 5]

# Functions

In [ ]:
def f(name:str)->str:
  return "heello"

#print("funtion styarts")
f("w")
#print("funtion ends")

'heello'

In [ ]:
result : str=city("banglore")
print (result)

 I  Stay in banglore

In [ ]:
def message(to : str, n : int)-> str:
  """Generates a string that repeats a loving message n times"""
  note : str =""
  i :int = 0
  while i< n:
    note+=city(to) +"\n"
    i += 1
  return note

print(message("Dharwad",5))

 I  Stay in Dharwad
 I  Stay in Dharwad
 I  Stay in Dharwad
 I  Stay in Dharwad
 I  Stay in Dharwad

In [ ]:
def mystery(n : int)-> str:
  """A Useless function"""
  i : int = 0
  while i<n:
    if i % 2 ==1:
      return "ooh"
    i +=1
  return "ahh"

In [ ]:
mystery(4)

'ooh'

In [ ]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False


# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

# using filter function
filtered = filter(fun, sequence)

print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [ ]:
def makeEven(num):
  if num % 2 ==1:
    return num+1
  else:
    return num

x=[551,641,891,122,453,223,234,343,562,115,554,111,679,516]
y=[]
for num in x:
  y.append(makeEven(num))

print(y)

[552, 642, 892, 122, 454, 224, 234, 344, 562116, 554, 112, 680, 516]

In [ ]:
def makeEven(num):
  if num % 2 ==1:
    return num+1
  else:
    return num

x=[551,641,891,122,453,223,234,343,562,115,554,111,679,516]
#using map method
y=list(map(makeEven,x))

print(y)

[552, 642, 892, 122, 454, 224, 234, 344, 562, 116, 554, 112, 680, 516]

In [ ]:
def makeEven(num):
  if num % 2 ==1:
    return num+1
  else:
    return num

x=[551,641,891,122,453,223,234,343,562,115,554,111,679,516]
#list comp ethod
y=[makeEven(num) for num in x]

print(y)

[552, 642, 892, 122, 454, 224, 234, 344, 562, 116, 554, 112, 680, 516]

In [ ]:
from traitlets.config.application import T
avail_units= {
    '101' : {
        'bedrooms' : 3,'bathroom': 2,'price':1550
    },
    '102' : {
        'bedrooms' : 2,'bathroom': 1,'price':1625
    },
    '103' : {
        'bedrooms' : 1,'bathroom': 1,'price':1400
    },
    '104' : {
        'bedrooms' : 2,'bathroom': 1,'price':1500
    },
    '105' : {
        'bedrooms' : 3,'bathroom': 2,'price':1700
    },
    '106' : {
        'bedrooms' : 1,'bathroom': 1,'price':1550
    }
}

def myFilter(unit_num):
  if avail_units[unit_num]['price'] < 1600 and avail_units[unit_num]['bedrooms']>=2:
    return True
  else:
    return False
x=list(filter(myFilter,avail_units))
print (x)

['101', '104']

In [ ]:
def is_even(n):
  return n%

nums=[3,2,6,8,4,6,2,9]
evens=list(filter(is_even,num))

In [ ]:
def sq(a):
  return a *a


num = [2,3,5,6,76,3,4,4,2]
square = list(map(sq,num))
print(square)

[4, 9, 25, 36, 5776, 9, 16, 16, 4]

In [ ]:
a=8
a**5

32768

In [ ]:
from functools import reduce
list1=[2,3,4,5,7]
num = reduce(lambda x,y : x+y,list1) #lambda function is used for convinence
print(num)

21

In [ ]:
minus = lambda x,y: x-y
print(minus(15,8))

7

In [ ]:
for i in range(1,5):
  print("* " * i)

*
* *
* * *
* * * *

In [ ]:
def f(x:float)->float:
  x +=1.0
  y : float = x + 2.0
  return x+y

def g()->None:
  global y
  x : float= f(3.0)
  y =f(x + 4.0)

x: float = 0.0
y: float = 0.0
g()
print(f"{x},{y}")

0.0,32.0

In [ ]:
"""Examples of using list in a simple game"""
from random import randint
rolls : list[int] = list()    # square bracket says that the list is of int type
rolls.append(1)
rolls.append(3)
print(rolls)

[1, 3]

In [ ]:
from random import randint
rolls : list[int] = list()
#rolls.append(randint(1,6))
#rolls.append(randint(1,6))
#print(rolls)

In [ ]:
"""Acess an individual"""
print(rolls[0])
#Access the length of a list(number of items)
print(len(rolls) - 1)

4
1

In [ ]:
while len(rolls)== 0 or rolls[len(rolls)-1]!=1:
  rolls.append(randint(1,6))
print(rolls)
rolls.pop(len(rolls)-1)
print(rolls)

[3, 6, 1]
[3, 6]

In [ ]:
i: int = 0
sum : int =0
while i<len(rolls):
  sum = sum +rolls[i]
  i=i+1
print(f"Total score : {sum}")

Total score : 9

In [ ]:
def sum_add(a,b)->int:
  return a+b

x = sum_add(1,2)
y = print(sum_add(1,2))

3

In [ ]:
print(x)

3

In [ ]:
type(y)

NoneType

In [ ]:
in_list=[2,3,4,5]

def zeroOneReturn(in_list:list)->int:
  if in_list%2==1:
    return 1
  else :
    return 0

#y=list(map(zeroOneReturn,in_list))
print(y)

[0, 1, 0, 1]

In [ ]:
num_list = [2,3,8,9,10,11]
def zeroOneReturn(a:list) -> list:
   return [1 if i%2 == 0 else 0 for i in a]
zeroOneReturn(num_list)

[1, 0, 1, 0, 1, 0]

In [ ]:
def myfunc(n):
  return lambda a : a * n
myfunc(6)

In [ ]:
import sys

for line in sys.stdin:
    if 'q' == line.rstrip():
        break
    print(f'Input : {line}')

print("Exit")

Exit

In [ ]:
a:list[str]=["one"]
b:list[str]=a
a.append("two")
print(b)

['one', 'two']

In [ ]:
def dup(xs: list[int])->None:
  start_len : int = len(xs)
  i : int = 0
  while i < start_len:
    xs.append(xs[i])
    i+=1

nums:list[int]=[10,20]
dup(nums)
print(nums)

[10, 20, 10, 20]

In [ ]:
def odds(min : int ,max : int )->list[int]:
  xs : list[int] = list()
  i : int =(min//2)*2+1
  while i<=max:
    xs.append(i)
    i+=2
  return xs

ys : list[int] = odds(3,6)
print(ys)

[3, 5]

In [ ]:
a=3//2
print(a)

1

In [ ]:
name = "Tim Tester"
age = 20
skill1 = "python"
level1 = "beginner"
skill2 = "java"
level2 = "veteran"
skill3 = "programming"
level3 = "semiprofessional"
lower = 2000
upper = 3000

print("my name is",name,",I am",age,"years old")
print("my skills are")
print("- ",skill1, " (",level1, ")",sep = 'hello')
print("- ",skill2, " (",level2, ")")
print("- ",skill3, " (",level3, " )")
print("I am looking for a job with a salary of",lower, "-", upper, "euros per month")

my name is Tim Tester ,I am 20 years old
my skills are
- hellopythonhello (hellobeginnerhello)
-  java  ( veteran )
-  programming  ( semiprofessional  )
I am looking for a job with a salary of 2000 - 3000 euros per month

https://stackoverflow.com/questions/47686690/why-is-there-an-extra-space-in-between-a-variable-and-punctuation-in-a-string-p

why there is a space after comma (check the above link)

In [ ]:
print(f"my name is {name} , Iam {age} years old \n My skills are \n -{skill1} \n -{skill2} \n -{skill3}")

my name is Tim Tester , Iam 20 years old
 My skills are
 -python
 -java
 -programming

In [ ]:
print(f"my name is {name}")
print(f"Iam {age} years old")

my name is Tim Tester
Iam 20 years old

In [ ]:
c=input("enter your name")
d=print(c)
print(d)

enter your namewajida
wajida
None

In [ ]:
l1=[1,2,3,4]
l2=[3,4,5,6,7]
l1.append(l2)
l1.extend(l2)
print(l1)

[1, 2, 3, 4, [3, 4, 5, 6, 7], 3, 4, 5, 6, 7]

In [ ]:
l1.insert(4,11)
print(l1)

[1, 2, 3, 4, 11, 10, 9, 7, 100, 100, [3, 4, 5, 6, 7], 3, 4, 5, 6, 7]

In [ ]:
l1.reverse()

In [ ]:
print(l1)

[7, 6, 5, 4, 3, [3, 4, 5, 6, 7], 100, 100, 7, 9, 10, 11, 4, 3, 2, 1]

In [ ]:
print(list(reversed(l1)))

[1, 2, 3, 4, 11, 10, 9, 7, 100, 100, [3, 4, 5, 6, 7], 3, 4, 5, 6, 7]

In [ ]:
thislist : list[int] = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
l1.remove(4)
print(l1)

[7, 6, 5, 3, [3, 4, 5, 6, 7], 100, 7, 9, 10, 11, 3, 2, 1]

In [ ]:
lst = ['Iris', 'Orchids', 'Rose', 'Lavender',
    'Lily', 'Carnations']
print("Original List is :", lst)

# using pop() to delete item
# ('Orchids' at index 1) from the list
lst.pop(1)
lst.remove("Rose")
print("After deleting the item :", lst)

Original List is : ['Iris', 'Orchids', 'Rose', 'Lavender', 'Lily', 'Carnations']
After deleting the item : ['Iris', 'Lavender', 'Lily', 'Carnations']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
test_string : str = "The city streets buzzed with life, as people hurried on their way to work, clutching coffee cups and briefcases. Neon signs flickered, casting an otherworldly glow on the rainy pavement. A street musician strummed a melancholic tune, drawing a small crowd of onlookers. Amid the chaos, there was a sense of unity in the shared experience of urban existence, where every passerby was a character in a story, each with their own narrative."

# printing original string
print ("The original string is : " + test_string)

# to count words in string
#res = test_string.count(" ") + 1
res = test_string.split()
# printing result
print ("The number of words in string are : " + str(res))
print(len(res))

The original string is : The city streets buzzed with life, as people hurried on their way to work, clutching coffee cups and briefcases. Neon signs flickered, casting an otherworldly glow on the rainy pavement. A street musician strummed a melancholic tune, drawing a small crowd of onlookers. Amid the chaos, there was a sense of unity in the shared experience of urban existence, where every passerby was a character in a story, each with their own narrative.
The number of words in string are : ['The', 'city', 'streets', 'buzzed', 'with', 'life,', 'as', 'people', 'hurried', 'on', 'their', 'way', 'to', 'work,', 'clutching', 'coffee', 'cups', 'and', 'briefcases.', 'Neon', 'signs', 'flickered,', 'casting', 'an', 'otherworldly', 'glow', 'on', 'the', 'rainy', 'pavement.', 'A', 'street', 'musician', 'strummed', 'a', 'melancholic', 'tune,', 'drawing', 'a', 'small', 'crowd', 'of', 'onlookers.', 'Amid', 'the', 'chaos,', 'there', 'was', 'a', 'sense', 'of', 'unity', 'in', 'the', 'shared', 'experience', 'of', 'urban', 'existence,', 'where', 'every', 'passerby', 'was', 'a', 'character', 'in', 'a', 'story,', 'each', 'with', 'their', 'own', 'narrative.']
73

In [ ]:
schools : dict[str,int]
#Initialize to an empty dictionary
schools = dict()

#Set a key value in a dictionary
schools["pavan school"]=19400
schools["KLS school"]=1940
schools["JSS school"]=1400
schools["KE Boards school"]=9400
print(schools)

{'pavan school': 19400, 'KLS school': 1940, 'JSS school': 1400, 'KE Boards school': 9400}

In [ ]:
students_grade_card : list = []
for i in range(5):
  print("Enter your name:")
  name : str = input()
  print("Enter your sub1 score:")
  score1 : int = int(input())
  print("Enter your sub2 score:")
  score2 : int = int(input())
  print("Enter your sub3 score:")
  score3 : int = int(input())
  #average_score : float = (score1+score2+score3)/3
  def avgFunc(a:int,b:int,c:int)->int:
    equation=(a+b+c)/3
    return equation

  grade_outcome : dict = {
      (90<=avgFunc()<100) : "Grade A", (75<=average_score<90) : "Grade B",
      (55<=average_score<75) : "Grade C" , (35<=average_score<55) : "Grade D" ,
      (0<=average_score<35) : "Grade F"
      }
  grade : str = grade_outcome[True]
  students_grade_card.append({"Name" : name,
      "score1": score1, "score2":score2 , "score3":score3,
      "average score" : average_score, "grade" : grade
      })
students_grade_card

Enter your name:
abcd
Enter your sub1 score:
34
Enter your sub2 score:
67
Enter your sub3 score:
45
Enter your name:
efgh
Enter your sub1 score:
87
Enter your sub2 score:
67
Enter your sub3 score:
54
Enter your name:
xyz
Enter your sub1 score:
34
Enter your sub2 score:
67
Enter your sub3 score:
32
Enter your name:
pqrs
Enter your sub1 score:
34
Enter your sub2 score:
23
Enter your sub3 score:
12
Enter your name:
hi
Enter your sub1 score:
87
Enter your sub2 score:
45
Enter your sub3 score:
34

[{'Name': 'abcd',
  'score1': 34,
  'score2': 67,
  'score3': 45,
  'average score': 48.666666666666664,
  'grade': 'Grade D'},
 {'Name': 'efgh',
  'score1': 87,
  'score2': 67,
  'score3': 54,
  'average score': 69.33333333333333,
  'grade': 'Grade C'},
 {'Name': 'xyz',
  'score1': 34,
  'score2': 67,
  'score3': 32,
  'average score': 44.333333333333336,
  'grade': 'Grade D'},
 {'Name': 'pqrs',
  'score1': 34,
  'score2': 23,
  'score3': 12,
  'average score': 23.0,
  'grade': 'Grade F'},
 {'Name': 'hi',
  'score1': 87,
  'score2': 45,
  'score3': 34,
  'average score': 55.333333333333336,
  'grade': 'Grade C'}]

In [ ]:
def avgFunc(a:int,b:int,c:int)->int:
  equation=(a+b+c)/3
  return equation

In [ ]:
story_vocab : list[str] = test_string.lower().split()
story_dict : dict = {}

def topFive(story_vocab):
  Top_5 : dict = dict(sorted(story_dict.items(),key= lambda x: x[1], reverse = True)[:5])
  return dict(Top_5)


for word in story_vocab:
  if word in story_dict:
    story_dict[word] +=1
  else:
    story_dict[word] = 1
print(story_dict)
print("\n\n")

topFive(story_vocab)

{'the': 4, 'city': 1, 'streets': 1, 'buzzed': 1, 'with': 2, 'life,': 1, 'as': 1, 'people': 1, 'hurried': 1, 'on': 2, 'their': 2, 'way': 1, 'to': 1, 'work,': 1, 'clutching': 1, 'coffee': 1, 'cups': 1, 'and': 1, 'briefcases.': 1, 'neon': 1, 'signs': 1, 'flickered,': 1, 'casting': 1, 'an': 1, 'otherworldly': 1, 'glow': 1, 'rainy': 1, 'pavement.': 1, 'a': 6, 'street': 1, 'musician': 1, 'strummed': 1, 'melancholic': 1, 'tune,': 1, 'drawing': 1, 'small': 1, 'crowd': 1, 'of': 3, 'onlookers.': 1, 'amid': 1, 'chaos,': 1, 'there': 1, 'was': 2, 'sense': 1, 'unity': 1, 'in': 2, 'shared': 1, 'experience': 1, 'urban': 1, 'existence,': 1, 'where': 1, 'every': 1, 'passerby': 1, 'character': 1, 'story,': 1, 'each': 1, 'own': 1, 'narrative.': 1}

{'a': 6, 'the': 4, 'of': 3, 'with': 2, 'on': 2}

sort with second index of tuple

In [ ]:
x=story_dict.values()
type(x)

dict_values

In [ ]:
for i in story_dict.items():
  print(i)
  print(i[1])

('the', 4)
4
('city', 1)
1
('streets', 1)
1
('buzzed', 1)
1
('with', 2)
2
('life,', 1)
1
('as', 1)
1
('people', 1)
1
('hurried', 1)
1
('on', 2)
2
('their', 2)
2
('way', 1)
1
('to', 1)
1
('work,', 1)
1
('clutching', 1)
1
('coffee', 1)
1
('cups', 1)
1
('and', 1)
1
('briefcases.', 1)
1
('neon', 1)
1
('signs', 1)
1
('flickered,', 1)
1
('casting', 1)
1
('an', 1)
1
('otherworldly', 1)
1
('glow', 1)
1
('rainy', 1)
1
('pavement.', 1)
1
('a', 6)
6
('street', 1)
1
('musician', 1)
1
('strummed', 1)
1
('melancholic', 1)
1
('tune,', 1)
1
('drawing', 1)
1
('small', 1)
1
('crowd', 1)
1
('of', 3)
3
('onlookers.', 1)
1
('amid', 1)
1
('chaos,', 1)
1
('there', 1)
1
('was', 2)
2
('sense', 1)
1
('unity', 1)
1
('in', 2)
2
('shared', 1)
1
('experience', 1)
1
('urban', 1)
1
('existence,', 1)
1
('where', 1)
1
('every', 1)
1
('passerby', 1)
1
('character', 1)
1
('story,', 1)
1
('each', 1)
1
('own', 1)
1
('narrative.', 1)
1

In [34]:
def avgFunc(a:int,b:int,c:int)->float:
  equation=(a+b+c)/3
  return equation

def calculateGrade(num : float) -> str:
  outcome = {(90<=num<=100):"Grade A", (75<=num<=90): "Grade B", (55<=num<=75):"Grade C", (35<=num<=55):"Grade D",(0<=num<=35):"Grade F"}
  return outcome[True]

def gradeCard(name :str, score1:int, score2:int ,score3:int )->dict:
  #score1=int(input())
  #score2=int(input())
  #score3=int(input())
  avg_score : float = avgFunc(score1,score2,score3)
  grade : str = calculateGrade(avg_score)
  grade_card:dict ={ "score1": score1, "score2":score2 ,  "score3":score3, "average score" : avg_score,  "grade" : grade }
  return grade_card





#calculateGrade(avgFunc(10,20,30))

In [35]:
Student1=input("enter your name")
score1=int(input())
score2=int(input())
score3=int(input())
gradeCard(Student1,score1,score2,score3)

enter your namewajida
12
45
56

{'score1': 12,
 'score2': 45,
 'score3': 56,
 'average score': 37.666666666666664,
 'grade': 'Grade D'}

In [ ]:
import random

# using random.sample()
# to generate random number list
random.seed(2)
res = random.sample(range(1, 60), 50)

# printing result
print (res)

[56, 55, 4, 6, 59, 24, 11, 48, 43, 20, 17, 39, 14, 52, 3, 38, 53, 28, 41, 26, 33, 54, 35, 29, 46, 18, 45, 2, 12, 15, 51, 13, 47, 49, 58, 34, 25, 8, 22, 1, 23, 36, 19, 5, 9, 30, 40, 27, 44, 31]

In [ ]:
def calMean(cal_list)->float:
  mean_result=sum(cal_list)/len(cal_list)
  return mean_result

def calRange(max_value,min_value)->int:
  range_result = max_value-min_value
  return range_result


def calStdDev(cal_list:list[int], mean : float) ->float:
  squared_mean_dist = [(x-mean)**2 for x in cal_list]
  variance = sum(squared_mean_dist)/len(cal_list)
  standard_deviation = (variance) ** 0.5
  return standard_deviation


def calMedian(cal_list)->float:
    sorted_list = sorted(cal_list)
    list_length = len(sorted_list)
    median_index = list_length // 2

    if list_length % 2 != 0:

        median = sorted_list[median_index]
    else:
        lower_middle_index = median_index - 1
        median = (sorted_list[lower_middle_index] + sorted_list[median_index]) / 2

    return median



def discriptiveStatistics(cal_list : list[int])->dict[str, float]:
  mean : float        = calMean(res)
  median : float      = calMedian(res)
  std_div : float     = calStdDev(res,mean)
  max_value : int     = max(res)
  min_value : int     = min(res)
  range : int         = calRange(max_value,min_value)
  discriptive_dict : dict ={"Mean": mean, "Max Value": max_value, "Min Value" : min_value ,"Range": range , "Median": median ,"Std dev":std_div }
  return discriptive_dict



discriptiveStatistics(res)

{'Mean': 29.96,
 'Max Value': 59,
 'Min Value': 1,
 'Range': 58,
 'Median': 29.5,
 'Std dev': 17.07508125895745}

In [ ]:
def recursive_fibonacci(n):
  if n <= 1:
      return n

  return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))

n_terms = -10

# check if the number of terms is valid
if n_terms <= 0:
  print("Invalid input ! Please input a positive value")
else:
  print("Fibonacci series:")
for i in range(n_terms): #range(0, 10)
    print(recursive_fibonacci(i))

Invalid input ! Please input a positive value

In [ ]:
range(n_terms)

range(0, 10)

In [ ]:
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

Name: Alice Age: 30

In [ ]:
x = 'looked'

print("Misha %s and %s around"%('walked',x))

Misha walked and looked around

In [ ]:
n = 10
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55 89

In [ ]:
# Nested list
List1 : int =[1,2,3,4,5]

List2 : str = ["hello","hi"]
List3 = [List1,List2]
print(List3)

[[1, 2, 3, 4, 5], ['hello', 'hi']]

In [ ]:
#Repition of list this is same in tuple
List4 = [List1]*3
print(List4)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [ ]:
def exampleFunction(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

exampleFunction(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

In [ ]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [17]:
def funcArgs(normal,*arg1,**kwargs):
  print(normal)
  for items in arg1:
    print (items)


har={"Harry","Rohan","Rahul","Hameed"}
normal = "The keywords are as follows : "
kw = {"Rohan":"Monitor","Harry":"Fitness","Hameed":"Cook"}

funcArgs(normal,*har,**kw)

The keywords are as follows :
Harry
Hameed
Rahul
Rohan

In [30]:
def calSum(name,*score):
  c=0
  for i in score:
    c+=i
    size =  len(score)
    avg = c/size
  return f"{name} your average is {avg}"


student_name=input("Enter students name :  ")
score1 = int(input("Enter the Score1 : "))
score2 = int(input("Enter the Score2 : "))
score3 = int(input("Enter the Score3 : "))

calSum(student_name,*(score1,score2,score3))

Enter students name :  wajida
Enter the Score1 : 12
Enter the Score2 : 13
Enter the Score3 : 14

'wajida your average is 13.0'

In [31]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)


# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks', 'for', 'geeks', first="Geeks", mid="for", last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}